<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" metadata-complete="false" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Web Application</display-name>

    <servlet>
      <servlet-name>test</servlet-name>
      <servlet-class>com.edureka.service.serverside.HelloWorldServlet</servlet-class>
    </servlet>
  
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/dummy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.edureka.service.serverside.ProcessingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/nameofthesecondservlet</url-pattern>
  </servlet-mapping>
    <filter>
        <filter-name>print</filter-name>
        <filter-class>com.edureka.service.serverside.filters.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>print</filter-name>
        <url-pattern>/dummy</url-pattern>

    </filter-mapping>
  

</web-app>
